services:
  dontletexpireapp:
    image: lewap/dontletexpire:0.2.0
    environment:
      HTTP_PORT: "8080"
      DB_USER: "appuser"
      DB_PASSWORD: "abc"
      DB_NAME: "dontletexpiredb"
      DB_HOST: "postgres"
      DB_PORT: 5432
    ports:
      - "9110:8080"
    restart: always
    depends_on:
    - postgres
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 500M
  postgres:
    image: postgres:17.2
    environment:
      POSTGRES_DB: "dontletexpiredb"
      POSTGRES_USER: "appuser"
      POSTGRES_PASSWORD: "abc"
    command: postgres -c log_statement=all
    restart: always
    volumes:
    - postgres-data:/var/lib/postgresql/data
    - ./init-pg:/docker-entrypoint-initdb.d
    ports:
    - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 500M
volumes:
  postgres-data: {}
